fastapi 
uvicorn 
google-api-python-client 
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
pandas
pytrends
python-dotenv
matplotlip
seaborn
plotly
openai
streamlit
google-search-results
fpdf